// Place all the styles related to the invitaciones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image:url('color_fondo.png');
}

#titulo {
  font: 50px 'Pinyon Script', cursive;
  color:white;
  position:absolute;
  top:15px;
  left:125px;
}

#contenido {
  width:717px;
  height:722px;
  background-image:url('fondo.png');
  position:absolute;
  top:0px;
  left:400px;

  .grande {
    display:table;
    background:white;
    width:570px;
    height:570px;
    top:70px;
    left:60px;
    position: absolute;
    behavior: url(/PIE.htc);
    border-radius:20px;
    border:5px solid black;
    padding:10px;

    iframe {
      width: 540px;
      height: 540px;
    }

  }

  #regalo {
    display:block;
    overflow-y:auto;
    overflow-x:hidden;
    font:15px 'Trebuchet MS', Arial, sans-serif;

    table {
      td {
        padding:4px 10px;
      }

    }
  }

  #texto-regalo {
    font:18px 'Trebuchet MS', Arial, sans-serif;
  }

  #contenedor_texto {
    display:table;
    background:white;
    width:570px;
    height:170px;
    top:270px;
    left:60px;
    position: absolute;
    behavior: url(/PIE.htc);
    border-radius:20px;
    border:5px solid black;

    .texto {
      display: table-cell; vertical-align: middle;
      text-align:center;
      font:26px 'Trebuchet MS', Arial, sans-serif;
    }

  }
}

#barra {
  position:absolute;
  top:90px;
  left:60px;

  a {
    text-transform:uppercase;
    display:block;
    color:white;
    font: 24px 'Trebuchet MS', Arial, sans-serif;
    background:black;
    width:185px;
    margin:5px;
    text-align:center;
    padding:10px;
    behavior: url(/PIE.htc);
    border-radius:10px;
    border:3px solid black;
  }

  a:hover {
    color:black;
    background:white;
  }
}

a {
  text-decoration:none;
}

a.reservar {
  border-radius:4px;
  border:1px solid black;
  color:black;
  padding: 1px 4px;
  display: inline-block;
  width:91px;
  text-align: center;
}

a.reservar.reservado {
  background:grey;
  color:white;
  border:grey;
  cursor:default;
}

a.reservar.reservado.por-ti {
  background:green;
}

a.reservar:hover:not(.reservado) {
  color:white;
  background:black;
}
